body {

    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.container1 {
    background-color: #ffc017;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 2;
}

/* .active { background-color: #fff}*/

nav li {
    display: inline;
    padding: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

#bottone {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 10px;
    border: none;
}

.h_line { width:100%; height:1px; background-color: black;}


.container2 {
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
}


main {

    padding: 100px;
}

main h2 {

    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 10px;
}

main p {

margin-bottom: 20px;
}

main button {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;

}


.M {
    height: 400px;
    }
    

.container3 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    

}

.container3 h2 {

    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex: 1;
  
}


.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 33%;
   }

   span {

    color: #dadada;
    font-size: 22px;
    font-weight: bolder;
   

   }
   
   .article .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
   }
   
   .article .author {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
   }
   
   .article .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
   }
   
   .author img {

    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-right: 10px;
    align-items: center;
   }

   .h_line2 { width:100%; height:1px; background-color: rgb(202, 202, 202); margin-top: 10px; margin-bottom: 10px;}

   .container4 {

    display: flex;
    width: 100%;
    margin-top: 50px;
  
   }

   .articoli div {
    
    width: 70%;
    margin-left: 80px;
   }

   .categorie {
    
    width: 30%;
   }

   .articoli .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 60%;
   }
   
   .articoli .author {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
   }
   
   .articoli .incipit {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
}

   .articoli .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
   }

   .articoli button {
    border: none;
    color: #666;
    padding: 5px;
    border-radius: 5px;
   }

.articoli .anteprima img {

    width: 150px;
    float: right;
    margin-left: 15px;
}

#segnalibro {

    float: right;
}
.categorie p {
    margin-bottom: 5px;
}

.categorie button {

    border: solid rgb(170, 165, 165) 1px;
    border-radius: 3px;
    color: #999;
    background-color: white;
    padding: 8px;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #999;
    padding: 10px;
}